body {
	background-color: #fff;
}

.c-body {
	padding: 23px 18px 14px;
	margin-top: -60px;
	z-index: 999;
	position: relative;
}

.c-body .c-body-leftimg {
	display: block;
	background-color: #f1f1f1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	left: 18px;
	width: 70px;
	height: 70px;
	border: 2px #fff solid;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	margin-right: 12px;
}

.c-body h2 {
	margin-top: 12px;
	color: #fff;
	font-size: 16px;
	margin-bottom: 16px;
}

.c-body b.occupation {
	display: block;
	color: #f7b940;
	font-weight: normal;
	font-size: 14px;
	float: right;
}

.c-body b.occupation div {
	margin-right: 5px;
	width: 18px;
	height: 18px;
	margin-top: -2px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}

.c-body b.occupation div.e-general {
	background-image: url(../img/expert/expert-icon3.png);
}

.c-body b.occupation div.e-exper {
	background-image: url(../img/expert/expert-icon4.png);
	display: none;
}

.c-body b.occupation div.e-cust {
	background-image: url(../img/expert/expert-icon5.png);
	display: none;
}

.c-body p {
	color: #ccc;
	height: 42px;
	overflow: hidden;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.c-body p i {
	margin-right: 8px;
	padding-left: 1px;
	color: #fff;
	float: left;
	background-color: #ffd48f;
	border-radius: 50px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
}

.c-body button {
	font-size: 12px;
	color: #999;
	background-color: #fff;
	width: 33.3%;
	text-align: center;
	margin-top: 20px;
	border-right: 1px #eee solid;
}

.c-body button:last-child {
	border: none;
}

.c-body button b {
	margin-left: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 40px;
	display: inline-block;
	vertical-align: bottom;
	font-weight: bold;
	color: #555;
}

.service-data .borderline {
	height: 18px;
	margin: 8px 0;
	background-image: url(../img/border_1.png);
	background-size: auto 100%;
	background-repeat-x: initial;
	background-repeat-y: no-repeat;
}

.service-data ul {
	overflow: hidden;
	margin-top: 6px;
}

.service-data li {
	display: inline-block;
	color: #f7b83f;
}

.service-data .evaluate {
	display: block;
	color: #f7b83f;
	margin-top: 5px;
	font-size: 14px;
}

.service-data {
	padding: 18px 18px;
	text-align: center;
	border-top: 6px #fafafa solid;
	border-bottom: 2px #fafafa solid;
}

.moreinfo {
	padding: 24px 18px;
	border-bottom: 6px #fafafa solid;
}

.moreinfo p {
	margin-bottom: 15px;
}

.photolist {
	overflow: hidden;
	margin: 0 -3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.photolist dd {
	float: left;
	width: 33.3%;
	margin: 0;
	padding: 2px;
}

.photolist .msgimg {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	display: block;
	float: left;
	background-color: #eee;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 1;
}

.photolist .msgimg img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.moreinfo .bottom {
	text-align: center;
	font-size: 12px;
	color: #aaa;
	margin-top: 16px;
}

.skill {
	padding: 18px;
	display: none;
}

.skill li {
	color: #f6be40;
	font-size: 12px;
	line-height: 34px;
}

.skill li p {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

.skill li span {
	float: right;
	clear: both;
	font-size: 14px;
}

.skill li span b {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

.personal-data {
	padding: 24px 18px;
	border-top: 6px #fafafa solid;
}

.personal-data li {
	color: #97a3aa;
	font-size: 12px;
	line-height: 46px;
	border-bottom: 1px solid #eee;
}

.personal-data li:last-child {
	border: none;
}

.personal-data li p {
	display: inline-block;
	color: #333;
	margin-left: 10px;
	font-size: 14px;
}

.personal-data li span {
	float: right;
	clear: both;
	font-size: 14px;
}

.evaluate-list {
	padding: 24px 18px;
	border-top: 6px #fafafa solid;
}

.evaluate-list .eli {
	overflow: hidden;
	padding-top: 15px;
}

.evaluate-list .eli .left {
	float: left;
	width: 16%;
}

.evaluate-list .eli .left img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #f7f7f7;
}

.evaluate-list .eli .right {
	border-bottom: 1px solid #eee;
	float: left;
	padding-bottom: 8px;
	width: 84%;
}

.evaluate-list .eli .right h2 {
	color: #a4aeb5;
	margin-top: 2px;
}

.evaluate-list .eli .right p {
	margin-top: 10px;
	margin-bottom: 8px;
}

.evaluate-list .eli .right span {
	font-size: 12px;
	color: #a4adb4;
}

.evaluate-list .eli .right ul {
	overflow: hidden;
	float: right;
}

.evaluate-list .eli .right li {
	display: inline-block;
	font-size: 12px;
	color: #f7b83f;
	margin-left: 2px;
}

.listhead {
	font-size: 20px;
	color: #333;
	margin-bottom: 20px;
}

.listhead span {
	font-size: 15px;
	color: #a4adb4;
	margin-left: 10px;
}

.askbox {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 10px 30px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.askbox div {
	width: 30%;
	text-align: center;
	display: inline-block;
}

.askbox div i {
	display: block;
	height: 28px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/travel/travel-icon1.png);
}

.askbox div b {
	position: absolute;
	color: #999;
	margin-left: 15px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 34px;
	text-align: left;
}

.askbox div:first-child i {
	background-image: url(../img/expert/expert-icon1.png);
}

.askbox div:last-child i {
	background-image: url(../img/expert/expert-icon2.png);
}

.askbox div span {
	font-size: 12px;
	color: #666;
	display: block;
}

.pushbottom {
	height: 80px;
}

button:enabled:active {
	background-color: #f1f1f1;
	color: #666;
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20000;
	background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header {
	height: 44px;
	top: 40px;
}

.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 0 auto 4px;
	width: 70px;
	border-radius: 12px;
	font-size: 16px;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

p img {
	max-width: 100%;
	height: auto;
}

#dangqi {
	display: none;
}

.expert-bg {
	width: 100%;
	display: block;
}

.defaulthead.headfixed {
	border: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 9999;
}

.actbtnbox span {
	width: 49%;
	float: left;
	display: block;
	text-align: center;
	font-size: 14px;
	background-color: #e7e7e7;
	line-height: 36px;
	border-radius: 4px;
	color: #777;
}

.actbtnbox span.active {
	color: #fff;
	background-color: #70d3be;
}

.actbtnbox span:last-child {
	margin-left: 2%;
}

.e-exper,
.e-cust,
.service-data .evaluate,
.e-general {
	display: none;
}

.p-line.mui-scroll-wrapper {
	display: none;
	margin-bottom: 26px;
	padding: 0 18px;
	position: relative;
	height: 210px;
}

.p-line.mui-scroll-wrapper .mui-scroll {
	width: 820px;
}

.p-line .p-linelist {
	width: 820px;
	display: block;
	height: 210px;
}

.p-line .p-linelist li.p-linelist-li {
	display: block;
	float: left;
	width: 144px;
	height: 190px;
	margin: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	background-color: #eee;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	color: #fff;
}

.p-line .p-linelist li.p-linelist-li p {
	color: #fff;
	margin: 0;
	height: 32%;
	margin-bottom: 40%;
	overflow: hidden;
	box-sizing: content-box;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding: 18px;
	padding-bottom: 0;
	background: linear-gradient(0, transparent, transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
	border-radius: 8px;
}

.p-line .p-linelist li ul {
	position: relative;
	transform: translate(0, -11px);
	line-height: 18px;
	padding-left: 18px;
	padding-right: 18px;
	height: 65px;
	padding-top: 10px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
	border-radius: 8px;
}

.p-line .p-linelist li ul li {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#nonote,
#nopline,
#noevaluate {
	text-align: center;
	font-size: 14px;
	color: #bbb;
	line-height: 60px;
}

.needct {
	font-size: 12px;
	float: right;
	color: #999;
	padding-top: 5px;
}

.addevaluate {
	background-color: #fafafa;
	padding: 10px 20px;
	overflow: hidden;
	padding-bottom: 25px;
	margin-top: 10px;
	display: none;
	border-radius: 6px;
}

.addevaluate h1 {
	margin-top: 10px;
	line-height: 30px;
	color: #666;
	text-align: center;
}

.addevaluate textarea {
	font-size: 14px;
	padding: 5px;
	color: #444;
	height: 120px;
	border: 1px solid #ddd;
}

.addevaluate .startlist {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 20px;
}

.addevaluate .startlist li {
	display: inline-block;
	color: #ddd;
	font-size: 22px;
}

.addevaluate .startlist li i.set {
	color: #ff9800;
}

.addevaluate button {
	float: right;
	padding: 6px 24px;
	border-radius: 60px;
}

.pushbottom {
	height: 69px;
}

.del-eli {
	float: right;
}

.evaluate-more {
	display: none;
	text-align: center;
	color: #999;
	line-height: 36px;
	margin-top: 20px;
	font-size: 14px;
	border: 1px #eee solid;
	border-radius: 6px;
}
